#map-canvas img {
	max-width: none;
}

#map-canvas h2 {
	font-size: 1.8em;
	line-height: 1.2em;
	margin: 0;
}

#map-canvas p, a {
	font-size: 1.1em;
	margin: 0;
	line-height: 1.5em;
}

#map-canvas a {
	text-decoration: underline;
}

.html-widget {
	width: 100%;
} 
