.outer-wrapper {
  width: 100%;
  border: 1px solid #c8c7cf;
  margin: 0 0 1em;
}
.outer-wrapper h2 {
  margin-left: 10px;
  margin-top: 10px;
}
.outer-wrapper p {
  margin-left: 10px;
}
.outer-wrapper table.data {
  margin: 10px;
}
.outer-wrapper #map-canvas img {
  max-width: none;
}
.outer-wrapper #map-canvas h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 0;
}
.outer-wrapper #map-canvas p, .outer-wrapper a {
  font-size: 1.1em;
  margin: 0;
  line-height: 1.5em;
}
.outer-wrapper #map-canvas a {
  text-decoration: underline;
}

.html-widget {
  width: 100%;
}
