.outer-wrapper {
  width: 100%;
  background-color: #fff;
}
.outer-wrapper h2 {
  padding-left: 10px;
  padding-top: 10px;
}
.outer-wrapper p {
  margin-left: 10px;
}
.outer-wrapper p.caption {
  margin-bottom: 0;
  font-size: 0.8em;
}
.outer-wrapper table.data {
  margin: 10px 10px 3px 10px;
}
.outer-wrapper button {
  border: none;
  background: none;
  color: #069;
  text-align: left;
}
.outer-wrapper button:hover {
  text-decoration: underline;
}
.outer-wrapper #map-canvas {
  width: 100%;
  height: 500px;
}
.outer-wrapper #map-canvas img {
  max-width: none;
}
.outer-wrapper #map-canvas h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
.outer-wrapper #map-canvas p, .outer-wrapper a {
  font-size: 1.1em;
  margin: 0;
  line-height: 1.5em;
}
.outer-wrapper #map-canvas a {
  text-decoration: underline;
}

.html-widget {
  border: 1px solid #ececec;
  background-color: #ececec;
  width: 100%;
}

.html-widget .credit {
  padding: 5px 5px 0;
  margin-bottom: 0.3em;
}
